<% content_for :title, "ユーザー登録 | RUNTEQ BOARD APP" %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t('activerecord.users.new.title') %></h1>

            <!-- エラーメッセージ表示エリア -->
      <div class="error-messages">
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
          
          </div>
        <% end %>
      </div>


      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.label :last_name, t('activerecord.users.new.last_name') %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :first_name, t('activerecord.users.new.first_name') %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, t('activerecord.users.new.email') %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, t('activerecord.users.new.password') %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, t('activerecord.users.new.password_confirmation') %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit t('activerecord.users.new.submit'), class: 'btn btn-primary' %>
      <% end %>
      <div class='text-center'>
        <%= link_to t('activerecord.users.new.go_to_login'), login_path %>
      </div>
    </div>
  </div>
</div>
