<div id="board-id-<%= board.id %>">
  <div class="card">
    <% if board.board_image.present? %>
      <%= image_tag board.board_image.url, class: "card-img-top", width: "300", height: "200" %>
    <% else %>
      <%= image_tag "board_placeholder.png", class: "card-img-top", width: "300", height: "200" %>
    <% end %>
    <div class="card-body">
    <h4 class="card-title">
      <a href="<%= board_path(board) %>"><%= board.title %></a>
    </h4>

      <div class='mr10 float-right'>
        <%= link_to '#', id: "button-edit-#{board.id}" do %>
          <%= icon 'fa', 'pen' %>
        <% end %>

      <%= link_to board_path(board), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
        <%= icon 'fas', 'trash' %>
      <% end %>

      </div>
      
      <!-- 投稿者の情報を別の行に表示 -->
      <div>
        <i class="far fa-user"></i>
        <%= board.user.full_name %>
      </div>
      
      <!-- 投稿日時を別の行に表示 -->
      <div>
        <i class="far fa-calendar"></i>
        <%= l board.created_at, format: :default %>
      </div>
      
      <p class="card-text"><%= board.body %></p>
    </div>
  </div>
</div>
