<div id="board-id-<%= board.id %>">
  <div class="card">
    <% if board.board_image.present? %>
      <%= image_tag board.board_image.url, class: "card-img-top", width: "300", height: "200" %>
    <% else %>
      <%= image_tag "board_placeholder.png", class: "card-img-top", width: "300", height: "200" %>
    <% end %>
    <div class="card-body">
      <h4 class="card-title">
        <a href="<%= board_path(board) %>"><%= board.title %></a>
      </h4>

      <!-- ユーザーが作成した掲示板であるかの確認 -->
<% if board.user == current_user %>
  <div class='mr10 float-right'>
    <%= link_to edit_board_path(board), id: "edit-button-#{board.id}" do %>
      <%= icon 'fa', 'pen' %>
    <% end %>

    <%= link_to board_path(board), method: :delete, data: { confirm: '本当に削除しますか？' }, id: "delete-button-#{board.id}" do %>
      <%= icon 'fas', 'trash' %>
    <% end %>
  </div>
<% else %>
  <% if board.bookmarked_by?(current_user) %>
    <span class="float-right">
      <%= link_to "★", board_bookmark_path(board, board_id: board.id), method: :delete %>
    </span>
  <% else %>
    <span class="float-right">
      <%= link_to "☆", board_bookmarks_path(board, board_id: board.id), method: :post %>
    </span>
  <% end %>
<% end %>


      <!-- 投稿者の情報を別の行に表示 -->
      <div>
        <i class="far fa-user"></i>
        <%= board.user.full_name %>
        <i class="far fa-calendar"></i>
        <%= l board.created_at, format: :default %>
      </div>
      
      <p class="card-text"><%= board.body %></p>
    </div>
  </div>
</div>
